.box{
    box-sizing: border-box;
    
    position: relative;
    width: 1440px;
    height: 2779px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    }
    
    
    
    
    .container{
    position: absolute;
    width: 1184px;
    height: 88px;
    left: 128px;
    top: 56px;
    
    background: #D4D4D7;
    }
    
    .items{
        position: absolute;
        width: 43px;
        height: 19px;
        left: 893px;
        top: 89px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        
        
        color: #060575;
        
    
    }
    
    .hero{
        position: absolute;
        width: 440px;
        height: 91px;
        left: 171px;
        top: 250px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 42px;
        
        color: #000000;
        
    }
    
    .subtext{
        position: absolute;
    width: 728px;
    height: 40px;
    left: 171px;
    top: 453px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    color: #000000;
    
    }